@import "variables";

.calendar-list {
  padding: 10px;
}

.calendar-list-title {
  text-align: center;
  font-family: $aleo-bold;
  font-size: 15px;
}

.calendar-spinner {
  text-align: center;
  margin-top: 25px;;
}
