@import "variables";

.calendar-list {
  padding: 15px 20px;
}

.calendar-list-title {
  text-align: center;
  font-family: $aleo-bold;
  font-size: 15px;
}

.calendar-spinner {
  text-align: center;
  margin-top: 25px;;
}

.calendar-item-wrapper {
  position: relative;
}

.calendar-color {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 5px;
}

.calendar-checkbox {
  padding-right: 20px;
}