@import "variables";

.login-page {
  background: $SKY_BLUE;
  min-height: 525px;
  height: 100%;
  padding-top: 50px;
}

// begin header

.login-header {
  position: relative;
  z-index: 11;
}

.tent-with-circle {
  height: 120px;
}

.login-title {
  color: $THEME_ORANGE;
  font-family: $aleo-bold;
  font-size: 72px;
}

.login-subtitle {
  font-family: $aleo-regular;
  font-size: 24px;
  color: $LIGHT_TEXT_GREY;
}

.login-box {
  width: 300px;
  height: 225px;
  margin: 25px auto 0 auto;
  background: rgba(255, 255, 255, .5);
  padding-top: 25px;
}

.google-auth-button {
  height: 54px;
  width: 240px;
  cursor: pointer;
  margin: 0 auto;
  background-size: 240px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("img/btn_google_normal.png"); 
  &.disabled {
    cursor: initial;
    background-image: url("img/btn_google_disabled.png"); 
  }
}

.login-prompt {
  font-family: $aleo-regular;
  margin-top: 20px;
  font-size: 18px;
  color: $LIGHT_TEXT_GREY;
}

.login-loading-message {
  margin-bottom: 5px;
}

.login-spinner {
  margin-top: 10px;
}

// begin footer

.login-footer {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  background: $SKY_BLUE;
}

.sky-footer {
  height: 200px;
}

.grass-footer {
  height: 100px;
  background: $GRASS_GREEN;
  position: relative;
}

.trees-and-stuff {
  position: absolute;
  top: -100px;
  left: 100px;
}

.sun {
  position: absolute;
  top: 0px;
  left: 100px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: $SUN_YELLOW;
}